.container{
    display: flex;
    gap:20px;
    flex-direction: column;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 12px;
}
.product{
    padding: 30px;
    border:1px solid;
    display: flex;
    flex-direction: column;
    gap: 10px;
}